$accent: #646cff;

$red: #AF1F6E;
$cyan: #24E7DF;
$blue: #063788;
$purple: #8b7aff;
// $orange: #F7941E;
// $yellow: #e5c07b;
// $green: #98c379;

$textColor: rgba(255, 255, 255, 0.87);

$backgroundColor: #282c34;
$secondaryBackgroundColor: #21252b;
$tertiaryBackgroundColor: #1e2127;

$standardTransition: 200ms all ease-in-out;

$borderRadius: 8px;
